requests
torch>=1.12.1
numpy>=1.15.4
nltk>=3.5
urllib3>=1.25.8
Unidecode>=1.1.1
ujson
tqdm
transformers==4.2.2
tensorboard
Cython
lmdb>=1.0
boto3
prettyprint
botocore

# used for data-preprocessing (in testing)
pandas

# used for API
fastapi>=0.100.0
uvicorn>=0.23.0
pydantic>=2.0.0
pydantic-settings>=2.0.0